* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* header design starts */
.header-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  max-width: 1440px;
  width: 100%;
}
.header {
  width: 100%;
  padding: 30px 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 185px;
  height: 41px;
}
.header__menuitm ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header__menuitm ul li a {
  font-size: 16px;
  font: medium;
  color: #000;
  text-decoration: none;
}
.Product-list {
  position: relative;
  cursor: pointer;
}

.Products {
  gap: 30px !important;
  flex-direction: column;
  justify-content: left;
  align-items: start !important;
  padding: 30px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  top: 30px;
  left: -20px;
  position: absolute;
  background-color: #fff3e3;
  width: 200px;
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.Product-list:hover .Products {
  opacity: 1;
  visibility: visible;
}
.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.mobeil-icon {
  display: none;
}
.modile-area {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__menuitm ul {
    display: none;
  }
  .header {
    padding: 20px 50px;
  }
  .header__icons {
    display: none;
  }

  .mobeil-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .mobeil-icon i {
    cursor: pointer;
  }
  .modile-area {
    display: block;
    position: absolute;
    top: -700px;
    width: 100%;
    transition: all 0.4s;
  }
  .mobile-navber {
    background: #ffffff;
    margin: 0 auto;
    width: 70%;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mobile-navber ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  .mobile-navber li {
    list-style: none;
  }
  .mobile-navber li a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2rem;
    color: hsl(233, 8%, 62%);
  }
  .menu-open {
    display: block;
    cursor: pointer;
    width: 20px;
    transition: all 0.4s;
  }
  .menu-cansel {
    display: none;
    cursor: pointer;
    width: 20px;
    transition: all 0.4s;
  }
  .header__logo {
    width: 100px;
    height: 30px;
  }
  .header__logo img {
    width: 100px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 20px 25px;
  }
  .header__logo {
    width: 100px;
    height: 30px;
  }
  .header__logo img {
    width: 100px;
    height: 30px;
  }
}
/* header design end */

/* warranty design starts */
.warranty-area {
  background-color: #faf3ea;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.warranty {
  width: 100%;
  padding: 100px 60px;
  background-color: #faf3ea;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}

.warranty-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.warranty-title h4 {
  font-size: 25px;
  font: bold;
  line-height: 150%;
  color: #242424;
}
.warranty-title {
  font-size: 20px;
  font: medium;
  line-height: 150%;
  color: #898989;
}

@media screen and (max-width: 1240px) {
}
/* warranty design starts */

/* footer design starts */
.footer-area {
  margin-top: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  max-width: 1440px;
  width: 100%;
}
.footer {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 285px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer-logo img {
  width: 100px;
  height: 30px;
}

.footer-title {
  font-size: 16px;
  font: normal;
  color: #9f9f9f;
}

.footer-menu1 ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.footer-menu1 ul span {
  font-size: 16px;
  font: medium;
  color: #9f9f9f;
}
.footer-menu1 ul li a {
  font-size: 16px;
  font: medium;
  color: #000;
  text-decoration: none;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.footer-newsletter span {
  font-size: 16px;
  font: medium;
  color: #9f9f9f;
}

.footer-newsletter form input {
  font-size: 16px;
  font: medium;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
  margin-right: 5px;
}
.footer-newsletter form button {
  font-size: 16px;
  font: medium;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
}

.copyright-line {
  width: 100%;
  height: 3px;
  background-color: #9f9f9f;
  /* margin: 0 30px; */
}

.copyright-title {
  margin: 35px 30px;
  font-size: 16px;
  font: normal;
  color: #000;
}
@media screen and (max-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
  .footer-menu1 ul {
    gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
  }

  .footer-logo {
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .footer-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer-menu1 ul {
    justify-content: center;
    align-items: center;
  }
  .footer-newsletter {
    align-items: center;
    gap: 30px;
  }
  .footer-newsletter form {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 10px;
  }
}

/* footer design end */
