* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* hero design starts */

.hero-top {
  width: 100%;
  height: 100px;
}

.hero-area {
  background: url(../image/shop-hero.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  width: 100%;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  width: 100%;
}
.hero {
  /* margin-top: 200px; */
  width: 100%;
  padding: 0px 50px;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content h3 {
  font-size: 48px;
  font: medium;
  color: #000000;
}
.hero-content p {
  font-size: 16px;
  font: medium;
  color: #000000;
  margin-top: 3px;
}
.hero-content p span {
  font-size: 16px;
  font: normal;
  color: #000000;
}
@media screen and (max-width: 992px) {
  .hero-top {
    height: 69px;
  }
}
/* hero design end */

/* Filter design starts */
.filter-area {
  background-color: #f9f1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.filter {
  width: 100%;
  padding: 30px 110px;
  background-color: #f9f1e7;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.filter-content span {
  font-size: 20px;
  font: normal;
  color: #000000;
}

.filter-item p {
  font-size: 16px;
  font: normal;
  color: #000000;
}
.item1 {
  width: 2px;
  height: 25px;
  background: #000;
}
.filter-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.filter-show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.filter-show span {
  font-size: 20px;
  font: normal;
  color: #000000;
}
.filter-show input {
  font-size: 20px;
  width: 55px;
  height: 55px;
  padding: 10px;
}
.filter-short {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.filter-short span {
  font-size: 20px;
  font: normal;
  color: #000000;
}

.filter-short input {
  font-size: 20px;
  width: 180px;
  height: 55px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .filter {
    width: 100%;
    padding: 30px 50px;
    background-color: #f9f1e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (max-width: 600px) {
  .filter-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 24px;
  }
}
/* filter design end */

/* products design starts */

.products-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products {
  width: 100%;
  padding: 30px 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.products-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

/* use progress */
.products-item {
  background: #f4f5f7;
  position: relative;
}
.products-tagnew {
  background-color: #2ec1ac;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font: medium;
  color: #fff;
  top: 20px;
  right: 20px;
}
.products-tagdiscaunt {
  background-color: #e97171;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font: medium;
  color: #fff;
  top: 20px;
  right: 20px;
}

.products-addsection {
  background-color: #3a3a3a;
  opacity: 0;
  height: 431px;
  width: 285px;
  position: absolute;
  top: 0;
  /* display: none; */
  transition: all 0.5s;
}

.products-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 431px;
  width: 285px;
  gap: 24px;
}
.products-addbutton button {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #b88e2f;
  border: none;
  background: #fff;
  padding: 10px 50px;
  cursor: pointer;
}
.products-addicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.products-addicon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.products-addicon .icon p {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
}

.products-item:hover .products-addsection {
  /* display: block; */
  opacity: 0.8;
}

.products-item .products-img {
  height: 301px;
}
.products-description {
  width: 285px;
  padding: 16px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.products-description h4 {
  font-size: 24px;
  font: medium;
  color: #3a3a3a;
}
.products-description p {
  font-size: 16px;
  font: medium;
  color: #898989;
}
.products-price {
  display: flex;
  justify-content: space-between;
}
.products-price span {
  font-size: 20px;
  font: bold;
  color: #3a3a3a;
}

.products-price del {
  font-size: 16px;
  font: normal;
  color: #b0b0b0;
}
/* use end */
.prodect-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}
.prodect-page .one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #b88e2f;
  font-size: 20px;
  font: normal;
  color: #fff;
}
.prodect-page .two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f9f1e7;
  font-size: 20px;
  font: normal;
  color: #000000;
}
.prodect-page .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #f9f1e7;
  font-size: 20px;
  font: normal;
  color: #000000;
}

@media screen and (max-width: 1200px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 992px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding: 30px 25px;
  }
  .products-items {
    grid-template-columns: auto;
  }
  .prodect-page {
    gap: 25px;
  }
}

/* products design end */
/* hero design starts */
