* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.hero-top {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .hero-top {
    height: 69px;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
}

/* hero design starts */
.hero-area {
  background-color: #f9f1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero {
  width: 100%;
  padding: 30px 102px;
  background-color: #f9f1e7;
  display: flex;

  gap: 32px;
}
.hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.hero-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  color: #9f9f9f;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.item div,
.review-iten {
  width: 2px;
  height: 30px;
  background: #9f9f9f;
}
.item p {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  color: #000;
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 20px 50px;
  }
}
/* hero design end */

/* showcase design starts */

.showcase-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.showcase {
  width: 100%;
  padding: 30px 102px;
  background-color: #fff;
  display: flex;

  justify-content: space-between;

  gap: 32px;
}

.showcase-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  gap: 32px;
}
.showcase-imgs {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 32px;
}
.showcase-imgs img {
  background-color: #f9f1e7;
  border-radius: 10px;
  width: 76px;
  height: 80px;
  object-fit: cover;
}

.showcase-img img {
  background-color: #f9f1e7;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 60px 0 30px 0;
}

.showcase-title h2 {
  font-size: 42px;
  font-weight: normal;
  color: #000;
  margin-bottom: 5px;
}
.showcase-title p {
  font-size: 24px;
  font-weight: bold;
  color: #9f9f9f;
}

.showcase-review {
  margin-top: 15px;
  display: flex;

  align-items: center;
  gap: 22px;
}
.review-ster img {
  margin-right: 6px;
}

.showcase-review p {
  font-size: 13px;
  font-weight: normal;
  color: #9f9f9f;
}

.showcase-description {
  margin-top: 18px;
}

.description {
  max-width: 400px;
  font-size: 13px;
  font-weight: normal;
  color: #000;
}
.showcase-size {
  margin-top: 22px;
}
.size-title,
.color-title {
  font-size: 14px;
  font-weight: normal;
  color: #9f9f9f;
}
.sizeing,
.coloring {
  margin-top: 12px;
  display: flex;

  align-items: center;
  gap: 20px;
}
.sizeing .l {
  background: #b88e2f;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}
.sizeing .xl {
  background: #f9f1e7;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 13px;
  font-weight: normal;
}

.showcase-color {
  margin-top: 18px;
}
.coloring .one {
  width: 30px;
  height: 30px;
  background: #816dfa;
  border-radius: 50px;
}
.coloring .two {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50px;
}
.coloring .Three {
  width: 30px;
  height: 30px;
  background: #b88e2f;
  border-radius: 50px;
}
.showcase-button {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.showcase-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 20px 0;
  width: 123px;

  gap: 35px;
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
.showcase-btnCart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 20px 0;
  width: 215px;

  gap: 35px;
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
.horizontal-line {
  margin-top: 60px;
  height: 1px;
  width: 100%;
  background-color: #9f9f9f;
}

.details {
  margin: 41px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.details P {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: normal;
  display: flex;

  align-items: center;
}
.details P img {
  margin-right: 25px;
}
.details P span {
  width: 70px;
}

@media screen and (max-width: 992px) {
  .showcase {
    padding: 30px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .showcase-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .showcase {
    padding: 30px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .showcase-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .showcase-imgs {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 32px;
  }
}
/* showcase design end */

/* Description design starts */

.descriptions-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.descriptions-line {
  height: 1px;
  width: 100%;
  background-color: #9f9f9f;
}
.descriptions {
  width: 100%;
  padding: 40px 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.descriptions-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.descriptions-title .title1 {
  color: #000;
}
.descriptions-title p {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: bold;
}

.descriptions-detals {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.descriptions-detals p {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: normal;
}

.descriptions-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.descriptions-img img {
  width: 47%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .descriptions {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 600px) {
  .descriptions {
    padding: 40px 25px;
  }
}
/* Description design end */

/* products design starts */

.products-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products {
  width: 100%;
  padding: 50px 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.products-header h3 {
  font-size: 40px;
  line-height: 120%;
  font-weight: bold;
  color: #3a3a3a;
}
.products-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

/* use progress */
.products-item {
  background: #f4f5f7;
  position: relative;
}
.products-tagnew {
  background-color: #2ec1ac;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  top: 20px;
  right: 20px;
}
.products-tagdiscaunt {
  background-color: #e97171;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  top: 20px;
  right: 20px;
}

.products-addsection {
  background-color: #3a3a3a;
  opacity: 0;
  height: 431px;
  width: 285px;
  position: absolute;
  top: 0;
  /* display: none; */
  transition: all 0.5s;
}

.products-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 431px;
  width: 285px;
  gap: 24px;
}
.products-addbutton button {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #b88e2f;
  border: none;
  background: #fff;
  padding: 10px 50px;
  cursor: pointer;
}
.products-addicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.products-addicon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.products-addicon .icon p {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
}

.products-item:hover .products-addsection {
  /* display: block; */
  opacity: 0.8;
}

.products-item .products-img {
  height: 301px;
}
.products-description {
  width: 285px;
  padding: 16px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.products-description h4 {
  font-size: 24px;
  font-weight: 500;
  color: #3a3a3a;
}
.products-description p {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}
.products-price {
  display: flex;
  justify-content: space-between;
}
.products-price span {
  font-size: 20px;
  font-weight: bold;
  color: #3a3a3a;
}

.products-price del {
  font-size: 16px;
  font-weight: normal;
  color: #b0b0b0;
}
/* use end */
.prodect-btn button {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #b88e2f;
  border: none;
  background: #fff;
  padding: 10px 50px;
  border: 2px solid #b88e2f;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 992px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding: 30px 25px;
  }
  .products-items {
    grid-template-columns: auto;
  }
}

/* products design end */
