* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/* hero design starts */

.hero-area {
  background: url(../image/Mask-hero.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 716px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  width: 100%;
}
.hero {
  margin-top: 200px;
  width: 100%;
  padding: 0px 50px;
  height: 716px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-item {
  background: #fff3e3;
  padding: 42px;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  right: 60px;
}

.hero-content {
  width: 561px;
}
.hero-content span {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 5px;
}
.hero-content h1 {
  font-size: 52px;
  line-height: 65px;
  font-weight: bold;
  color: #b88e2f;
  margin-top: 4px;
}
.hero-content p {
  width: 546px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
  margin-top: 17px;
}
.btn button {
  padding: 25px 72px;
  background: #b88e2f;
  border: none;
  color: #fff;
  margin-top: 46px;
}

@media screen and (max-width: 768px) {
  .hero-area {
    width: 100%;
    height: 516px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero {
    margin-top: 100px;
    padding: 0px 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .hero-content {
    width: 280px;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    color: #b88e2f;
    margin-top: 4px;
  }
  .hero-item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    top: 50px;
  }

  .hero-content h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
  }
  .hero-content p {
    width: 286px;
  }
}
/* hero design end */

/* Range design starts */
.Range-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Range {
  width: 100%;
  padding: 30px 110px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Range-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.Range-title h3 {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}
.Range-title p {
  font-size: 20px;
  font-weight: normal;
  color: #666666;
  text-align: center;
}

.Range-items {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Range-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.Range-img {
  width: 100%;
}
.Range-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img1 {
  width: 100%;
  object-fit: cover;
}
.Range-item p {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}
@media screen and (max-width: 992px) {
  .Range {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 600px) {
  .Range {
    padding: 30px 25px;
  }
  .Range-items {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
  }
}

/* Range design end */

/* products design starts */

.products-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products {
  width: 100%;
  padding: 30px 102px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.products-header h3 {
  font-size: 40px;
  line-height: 120%;
  font-weight: bold;
  color: #3a3a3a;
}
.products-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

/* use progress */
.products-item {
  background: #f4f5f7;
  position: relative;
}
.products-tagnew {
  background-color: #2ec1ac;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  top: 20px;
  right: 20px;
}
.products-tagdiscaunt {
  background-color: #e97171;
  height: 48px;
  width: 48px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  top: 20px;
  right: 20px;
}

.products-addsection {
  background-color: #3a3a3a;
  opacity: 0;
  height: 431px;
  width: 285px;
  position: absolute;
  top: 0;
  /* display: none; */
  transition: all 0.5s;
}

.products-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 431px;
  width: 285px;
  gap: 24px;
}
.products-addbutton button {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #b88e2f;
  border: none;
  background: #fff;
  padding: 10px 50px;
  cursor: pointer;
}
.products-addicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.products-addicon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.products-addicon .icon p {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
}

.products-item:hover .products-addsection {
  /* display: block; */
  opacity: 0.8;
}

.products-item .products-img {
  height: 301px;
}
.products-description {
  width: 285px;
  padding: 16px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.products-description h4 {
  font-size: 24px;
  font-weight: 500;
  color: #3a3a3a;
}
.products-description p {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}
.products-price {
  display: flex;
  justify-content: space-between;
}
.products-price span {
  font-size: 20px;
  font-weight: bold;
  color: #3a3a3a;
}

.products-price del {
  font-size: 16px;
  font-weight: normal;
  color: #b0b0b0;
}
/* use end */
.prodect-btn button {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #b88e2f;
  border: none;
  background: #fff;
  padding: 10px 50px;
  border: 2px solid #b88e2f;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 992px) {
  .products {
    padding: 30px 50px;
  }
  .products-items {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding: 30px 25px;
  }
  .products-items {
    grid-template-columns: auto;
  }
}

/* products design end */

/* inspiration design starts */

.inspiration-area {
  background-color: #fcf8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inspiration {
  width: 100%;
  padding: 30px 102px;
  background-color: #fcf8f3;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.inspiration-items {
  background-image: url(../image/Rectangle.png);
  max-width: 404px;
  height: 582px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 20px 25px;
  position: relative;
}

.inspiration-title h3 {
  font-size: 40px;
  line-height: 120%;
  font-weight: bold;
  color: #3a3a3a;
}
.inspiration-title p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #616161;
  margin-top: 7px;
}
.inspiration-title button {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 10px 30px;
  background-color: #b88e2f;
  margin-top: 25px;
}
.inspiration-item {
  display: flex;
  justify-content: center;
  /* padding: 0 25px; */
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.inspiration-item button {
  border: none;
  background-color: #b88e2f;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  left: 218px;
  cursor: pointer;
}
.inspiration-item1 {
  background: #fff;
  width: 217px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}
.inspiration-item1 p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #616161;
}
.inspiration-item1 h4 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
  color: #3a3a3a;
}

.inspiration-carousel {
  position: relative;
}

.carousel-next img {
  width: 24px;
  height: 24px;
}
.carousel-next {
  position: absolute;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 210px;
  right: 0;
  z-index: 1;
}

.inspiration-carouseltogol {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.togole1 {
  width: 11px;
  height: 11px;
  background-color: #b88e2f;
  border-radius: 50%;
}

.togole2 {
  width: 27px;
  height: 27px;
  border: 2px solid #b88e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.togole3 {
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .inspiration {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
/* inspiration design end */

/* Furniture design starts */
.furniture-area {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.furniture {
  padding: 30px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.furniture-title {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.furniture-title p {
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  color: #616161;
}
.furniture-title h3 {
  font-size: 40px;
  line-height: 120%;
  font-weight: bold;
  color: #3a3a3a;
}

.contenr {
  overflow: hidden;
}
.image-galare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image-galare img {
  object-fit: cover;
}
.img-laft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.laft1 {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}
.laft1 img {
  object-fit: cover;
}
.laft2 {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.laft2 img {
  object-fit: cover;
}

.img-medel img {
  object-fit: cover;
}
.img-right {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.right1 {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}
.right1 img {
  object-fit: cover;
}

.right2 {
  display: flex;

  align-items: start;
  gap: 10px;
}
.right2 img {
  object-fit: cover;
}

/* end */
.gallery {
  display: none;
  flex-direction: column;
  gap: 20px;
}
.gallery img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .furniture {
    padding: 30px 50px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contenr {
    display: none;
  }
}

/* Furniture design end */
